html {
  margin: 0, 0, 0, 0;
}

body {
    color: #a58754;
    font-family: 'Droid Serif', serif;
}
.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

/* header section */
.header {
    background-color: white;
    width: 100%;
    height: 300px;
}
.logo {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 40px;
}
.right-side-logo {
    position: absolute;
    top: 0;
    right: 0;
}
.facebook {
    position: absolute;
    top: 280px;
    right: 175px;
    color: #a58754;
    margin-left: 10px;
    margin-top: 10px;
}
.pinterest {
    position: absolute;
    top: 280px;
    right: 125px;
    color: #a58754;
    margin-left: 10px;
    margin-top: 10px;
}
.phone {
    position: absolute;
    top: 280px;
    right: 75px;
    color: #a58754;
    margin-left: 10px;
    margin-top: 10px;
}


/* navigation */
.site-nav li {
    list-style: none;
    float: left;
}
.site-nav ul {
    margin-left: 450px;
    padding: 0;
}
.site-nav {
    margin-bottom: 40px;

}
.site-nav a {
    width: 115px;
    display: inline-block;
    text-decoration: none;
    color: #775d2f;
    font-size: 100%;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 280px;
}
.site-nav a:hover {
    color: #92b267;
}
.frontpic {
    max-width: 100%;
    height: auto;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 35px;
    box-sizing: border-box;
}
/* About us section */

h2 {
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    margin: 60px, 0, 60px, 0;
}

.what-we-do {
    max-width: 50%;
    height: auto;
    padding-left: 115px;
    float: left;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.staff {
    text-align: center;
    max-width: 45%;
    padding-left: 160px;
    float: left;
    margin-bottom: 60px;
    box-sizing: border-box;
}
.staff-ingredients {
    text-align: center;
    max-width: 45%;
    padding-left: 180px;
    margin-right: 120px;
    float: left;
    margin-bottom: 60px;
    box-sizing: border-box;
}
/* services and specialties section */
.service-pic {
    width: 75px;
    height: 100px;
    margin-left: 115px;
    margin-top: 60px;
    float: left;
}
.services-text {
    text-align: left;
    max-width: 240px;
    padding: 5px, 10px;
    margin-left: 240px;
    margin-top: 60px;
    float: left;
    box-sizing: border-box;
}
.service-pic2 {
    width: 100px;
    height: 175px;
    margin-left: 70px;
    margin-top: 60px;
    float: left;
}
.services-text2 {
    text-align: left;
    max-width: 240px;
    padding: 5px, 10px;
    margin-left: 220px;
    margin-top: 60px;
    float: left;
    box-sizing: border-box;
}
.service-pic3 {
  width: 75px;
  height: 100px;
  margin-top: 60px;
  margin-left: 115px;
  margin-bottom: 40px;
  float: left;
}
.services-text3 {
  text-align: left;
  max-width: 240px;
  padding: 5px, 10px;
  margin-top: 60px;
  margin-left: 240px;
  margin-bottom: 40px;
  float: left;
  box-sizing: border-box;
}
.service-pic4 {
    width: 100px;
    height: 175px;
    margin-top: 60px;
    margin-left: 70px;
    margin-bottom: 40px;
    float: left;
}
.services-text4 {
    text-align: left;
    max-width: 240px;
    padding: 5px, 10px;
    margin-top: 60px;
    margin-left: 220px;
    margin-bottom: 40px;
    float: left;
    box-sizing: border-box;
}
/* Menus Section */

.menu-info {
    width: 40%;
    margin-left: 325px;
    text-align: center;
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.menus {
    display: inline-block;
    margin: 60px;
}
/* Get in Touch Section */

.container {
  	width:30%;
  	margin:0 auto;
  	position:relative;
}
h3  {
    text-align: center;
}
.currants {
    margin-bottom: -20px;
    margin-top: -32px;
    margin-left: 50px;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="text"], #contact textarea {
  	width:100%;
  	border:1px solid #CCC;
  	background:#FFF;
  	margin:5px, 5px, 5px, 5px;
    padding:5px, 0, 5px, 5px;
    line-height: 30px;
}
#contact textarea {
  	height:100px;
  	max-width:100%;
    resize:none;
}
#contact button[type="submit"] {
  	cursor:pointer;
  	width:100%;
  	border:none;
  	background:#a58754;
  	color:#FFF;
  	margin:0 0 5px;
  	padding:10px;
  	font-size:15px;
}
#contact button[type="submit"]:hover {
  	background:#d6c8b1;
  	-webkit-transition:background 0.3s ease-in-out;
  	-moz-transition:background 0.3s ease-in-out;
  	transition:background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  	outline:0;
  	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
.wedding {
    width: 30%;
    height: 415px;
    margin-top: -485px;
    margin-left: 120px;
    float: left;
}
.celebrate {
    width: 30%;
    height: 415px;
    margin-top: -503px;
    margin-left: 690px;
    float: right;
}
.fb-bottom {
    color: #a58754;
}
.pin-bottom {
    color: #a58754;
}
footer {
    font-size: 100%;
    align-content: center;
    text-align: center;
    height: 80px;
    margin-left: 0;
    background-color: #a58754;
    color: #d6c8b1;
    padding-top: 10px;
}

/* clear floats */

.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}
